apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
data:
  # Base de données
  postgres-db: {{ .Values.secrets.dbName | b64enc | quote }}
  postgres-user: {{ .Values.secrets.dbUser | b64enc | quote }}
  postgres-password: {{ .Values.secrets.dbPassword | b64enc | quote }}
  # Sécurité JWT
  jwt-secret: {{ .Values.secrets.jwtSecret | b64enc | quote }}
  jwt-refresh-secret: {{ .Values.secrets.jwtRefreshSecret | b64enc | quote }}