name: CI Petite Maison DevSecOps

on:
  push:
    branches: [ main ]

jobs:
  # ==========================================================
  # PHASE 1 : VALIDATION DU CODE (Qualité, Tests & Sécurité)
  # ==========================================================
  validation:
    runs-on: ubuntu-latest
    steps:
      # --- ÉTAPE 1 : RÉCUPÉRATION DU CODE ---
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Nécessaire pour l'analyse de dette technique Sonar

      # --- CONFIGURATION ---
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # --- ÉTAPES 2 & 3 : VALIDATION BACKEND ---
      - name: Backend (Install, Lint, Tests)
        run: |
          cd backend/api-service
          npm ci
          npm run lint
          npm test -- --coverage --watchAll=false
        env:
          JWT_SECRET: "test_secret_pour_ci"

      # --- ÉTAPES 4 & 5 : VALIDATION FRONTEND ---
      # Crucial pour ne plus avoir une "mauvaise" analyse globale
      - name: Frontend (Install, Tests)
        run: |
          cd frontend
          npm install
          npm test -- --coverage --watchAll=false

      # --- ÉTAPE 6 : ANALYSE QUALITÉ GLOBALE (SONARCLOUD) ---
      # Centralise les indicateurs : Dette, Duplication, et enfin le Coverage !
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # Utilise ton nouveau token
        with:
          projectBaseDir: .

  # ==========================================================
  # PHASE 2 : CONSTRUCTION ET SÉCURITÉ DES LIVRABLES (DOCKER)
  # ==========================================================
  build-and-security-scan:
    needs: [validation] # Orchestration : On ne build que si le code est qualitatif
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- ÉTAPE 7 : CONSTRUCTION DE L'IMAGE ---
      - name: Build Backend Image
        run: |
          IMAGE_ID=$(echo "ghcr.io/${{ github.repository }}/backend:latest" | tr '[:upper:]' '[:lower:]')
          docker build -t $IMAGE_ID ./backend/api-service
          echo "FINAL_IMAGE=$IMAGE_ID" >> $GITHUB_ENV

      # --- ÉTAPE 8 : SCAN DE VULNÉRABILITÉS (TRIVY) ---
      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.FINAL_IMAGE }}
          format: 'table'
          severity: 'CRITICAL,HIGH'

      # --- ÉTAPE 9 : PUBLICATION (GHCR) ---
      - name: Login & Push to Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ${{ env.FINAL_IMAGE }}