name: CI Petite Maison DevSecOps

on:
  push:
    branches: [ main ]

jobs:
  # ==========================================================
  # PHASE 1 : VALIDATION DU CODE (Qualité, Tests & Sécurité Code)
  # ==========================================================
  backend-validation:
    runs-on: ubuntu-latest
    steps:
      # --- ÉTAPE 1 : RÉCUPÉRATION DU CODE ---
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Historique complet pour l'analyse de dette Sonar

      # --- CONFIGURATION DE L'ENVIRONNEMENT ---
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # --- ÉTAPE 2 : INSTALLATION DES DÉPENDANCES ---
      - name: Install Dependencies
        run: |
          cd backend/api-service
          npm ci

      # --- ÉTAPE 3 : ANALYSE STATIQUE (LINTING) ---
      - name: Code Quality Lint
        run: |
          cd backend/api-service
          npm run lint

      # --- ÉTAPES 4 & 5 : TESTS UNITAIRES & INTÉGRATION ---
      - name: Run Tests & Generate Coverage
        run: |
          cd backend/api-service
          npm test -- --coverage --watchAll=false
        env:
          JWT_SECRET: "test_secret_pour_ci"

      # --- ÉTAPE 6 : ANALYSE QUALITÉ GLOBALE (SONARCLOUD) ---
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .

  # ==========================================================
  # PHASE 2 : CONTENEURISATION & SÉCURITÉ DES LIVRABLES
  # ==========================================================
  build-and-security-scan:
    needs: [backend-validation] # On ne build que si la Phase 1 est 100% OK
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- ÉTAPE 7 : CONSTRUCTION DE L'IMAGE DOCKER ---
      - name: Build Docker Image
        run: |
          IMAGE_ID=$(echo "ghcr.io/${{ github.repository }}/backend:latest" | tr '[:upper:]' '[:lower:]')
          docker build -t $IMAGE_ID ./backend/api-service
          echo "FINAL_IMAGE=$IMAGE_ID" >> $GITHUB_ENV

      # --- ÉTAPE 8 : SCAN DE SÉCURITÉ DE L'IMAGE (TRIVY) ---
      - name: Security Scan with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.FINAL_IMAGE }}
          format: 'table'
          severity: 'CRITICAL,HIGH'

      # --- ÉTAPE 9 : PUBLICATION SUR LE REGISTRY (GHCR) ---
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Image to Registry
        run: docker push ${{ env.FINAL_IMAGE }}